body {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.container {
  width: 700px;
  padding: 10px;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  background-color: aqua;
  border-color: aqua;
  box-shadow: 0px 2px 2px rgba(56, 199, 255, 0.2);
  border-radius: 10px;
}

.icon {
  position: absolute;
  top: 30px;
  right: 36px;
  cursor: pointer;
  background-color: rgba(36, 0, 243, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 24px;
  color: #15ff00;
}

.camera {
  width: 380px;
  height: 380px;

  background-color: aquamarine;
  box-shadow: 0px 2px 2px #00aeff33;
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 0px;
  font-weight: bold;
}

.percent {
  text-align: center;
  font-size: 0px;
}

.description {
  margin-top: 100px;
  padding: 100px;
}

.icon .invisible {
  display: none;
}
